body {
  text-align: center;
}

.header-img {
  width: 150px;
}

.header row {
  display: inline-block
}

form#build-pizza {
  display: none;
}

button#add-to-order {
  margin-top: 15px;
}

#toppings {
  text-align: left;
  display: inline-block;
}

.order {
  margin-top: 25px;
}

#order-items {
  text-align: left;
  display: inline-block;
}
